.skills_container{
    min-height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skills_container_2:hover{
backdrop-filter: blur(13px);
border-radius:2rem;
}
.skills_main_heading{
      font-size:1.75rem;
        line-height: 1.8;
         font-weight:600;
    color:#414141; 
}
.skills_content{
     font-size:1.25rem;
      line-height: 1.8;
    font-weight:400;
    color:#414141; 
}
.skills_container_2{
    display: grid;
    grid-template-rows:0.1fr 1fr;
}
.skills_header{
     font-size: 2.5rem;
    font-weight: 700;
    line-height:1.8;
     color:#414141; 
}